<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
<style type="text/css">
	#wrap{
		width:600px;
		margin: 0 auto;
	}
	#header{
	background: green; 
	height: 50px;
	}
	#leftCon{
		background: orange;
		float: left;
		width:300px;
		height:150px;	
	}
	#rightCon{
		background: skyblue;
		float: left;
		width:300px;
		height:150px;	
	}
	#footer{
		background: pink;
		/* clear: both; */
		height:50px;	
	}
	#container{
		overflow: hidden;
	}

</style>
</head>
<body>
	<div id="wrap">
		<div id="header" align="center">header</div>
		<div id="container">
			<div id="leftCon">leftCon</div>
			<div id="rightCon">rightCon</div>
		</div>
		<div id="footer">footer</div>
	</div>
</body>
</html>