<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>mystudy2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

  
	<servlet>
      <servlet-name>listServ</servlet-name>
      <servlet-class>com.mystudy2.pd.serv.ListServlet</servlet-class>
   </servlet>
   
   <servlet-mapping>
      <servlet-name>listServ</servlet-name>
      <url-pattern>/ListServ</url-pattern>
	</servlet-mapping>

	<servlet>
      <servlet-name>detailServ</servlet-name>
      <servlet-class>com.mystudy2.pd.serv.DetailServlet</servlet-class>
   </servlet>
   
   <servlet-mapping>
      <servlet-name>detailServ</servlet-name>
      <url-pattern>/DetailServ</url-pattern>
	</servlet-mapping>

	<servlet>
      <servlet-name>deleteServ</servlet-name>
      <servlet-class>com.mystudy2.pd.serv.DeleteServlet</servlet-class>
   </servlet>
   
   <servlet-mapping>
      <servlet-name>deleteServ</servlet-name>
      <url-pattern>/DeleteServ</url-pattern>
	</servlet-mapping>
	
	
  
</web-app>